In [1]:
print("Hello World!")

Hello World!

### Python Data types:
Everything is an object in python, each object has a specific type that allows different operations.
- int: 34, 2, 0, -12, -65
- float: 3.14, 0.0, -3.14
- str: 'Hello', "hello", '34', "25", "3.14"
- bool: True, False

In [2]:
print(type(0))
print(type(0.0))
print(type("hello"))

<class 'int'>
<class 'float'>
<class 'str'>

In [3]:
### you can convert different data types:
float(0)
print(type(int('78')))
print(type('78'))

<class 'int'>
<class 'str'>

In [4]:
int(3.8) # does not round!
# print(round(3.8))

3

### Python Variables:
Variables are containers for storing data values. <br>
Variable can have a short name: x, y, a, b, or a descriptive name: age, mean, median 

#### Variable name rules:
- must start with a letter or underscore ( _ )
- cannot start with a number 
- must only contain alpha-numeric characters and underscore (A-Z, 0-9, and _ )
- Case-sensitive 
- Cannot use default keywords in python: class, list, dict,...

In [5]:
x = 10
y = 'Data Science'
print(x)
print(y)

10
Data Science

In [6]:
_age = 20
age_ = 21
age = 22
Age = 23
AGE = 24
Age2 = 25
age2 = 26

#Illegal variable names:
# 2age = 20
# age-2 = 21
# my age = 22

In [7]:
x, y, z = 'alpha', 'beta', 'gamma'
print(x)
print(y)
print(z)

alpha
beta
gamma

### Strings
String variables are introduced either by using single or double quotes. Python treats single quotes the same as double quote.<br>
If there is a double quote in your string, use a single quote to declare the string, and vice versa.

In [8]:
# single and double quotes
example1 = 'python tutorial for data mining'
example2 = "python's tutorial for data mining"
example3 = 'python tutorial for "data mining"'
print(example1)
print(example2)
print(example3)

python tutorial for data mining
python's tutorial for data mining
python tutorial for "data mining"

#### multiline string

In [9]:
example4 = """
Hello, 

This is a multi-line string

Thank you, 

"""

print(example4)

Hello,

This is a multi-line string

Thank you,

#### indexing strings
To access substrings, use the square brackets for slicing along with the index or indices to obtain your substring.

In [10]:

course = 'data mining'
print(len(course))
print(course[0])
print(course[1])
print(course[-1])
print(course[-3])
print(course[0:3])
print(course[2:])
print(course[0:10:2])

11
d
a
g
i
dat
ta mining
dt ii

#### concatenate strings
String concatenation means adding strings together. <br>
By using the + character a string variable is added to another string variable.

In [11]:
hi = 'Hello'
greet = 'How are you?'
sentence = hi + greet
print(sentence)
sentence = hi + ' ' + greet
print(sentence)
print(hi, greet)

HelloHow are you?
Hello How are you?
Hello How are you?

In [12]:
# strings are immutable
s = 'hello'
# s[0] = 'y'
# s = 'y' + s[1:]
print(s)

hello

#### formatted strings
Lets us concatenate elements within a string through positional formatting.

In [13]:
course = 'data mining'
uni = 'AUT'
print('This is a', course, 'course at', uni + '.')
print('This is a {} course at {}.'.format(course, uni))
print('This is a {first} course at {second}.'.format(second=uni, first=course))
print(f'This is a {course} course at {uni}.')
print('This is a %s course at %s' %(course, uni))

This is a data mining course at AUT.
This is a data mining course at AUT.
This is a data mining course at AUT.
This is a data mining course at AUT.
This is a data mining course at AUT

#### string methods
built-in methods on strings.

In [14]:
print(course.upper()) #Converts a string into upper case
print(course.lower()) #Converts a string into lower case
print(course.title()) #Converts the first character of each word to upper case
print(course)

print('----------------------')

print(course.find('a')) #Searches the string for a specified value and returns the position of where it was found
print(course.find('A'))
print(course.find('mining'))
print(course)

print('----------------------')
 
print(course.replace('mining', 'Mining')) #Returns a string where a specified value is replaced with a specified value
print(course)

DATA MINING
data mining
Data Mining
data mining
----------------------
1
-1
5
data mining
----------------------
data Mining
data mining

#### boolean expression

In [108]:
print(course)
print('data' in course)
print('Data' in course)

data mining
True
False

### Inputs
The input() function allows user input. (Returns string objects)<br>
Be careful to convert the input, if you have to use it in numerical operations!

In [109]:
print('Hello, What is your name?')
name = input('My name is: ')
print('How old are you?')
age = input('I am ')

Hello, What is your name?
My name is: Mahsan
How old are you?
I am 24

In [17]:
print('Hello,', name, 'you are', age, 'years old.')
print("Hello, {one}, you are {two} years old.".format(one = name, two = age))

Hello, Mahsan you are 24 years old.
Hello, Mahsan, you are 24 years old.

In [18]:
#the input gives you str
# print('you will be', age+2, 'years old two years later.')
type(age)
print('you will be', int(age)+2, 'years old two years later.')

you will be 26 years old two years later.

### Basic Operators
operators are used to perform mathematical operations like addition, subtraction, multiplication and division.
- +
- -
- *
- /
- ** (Exponentiation)
- // (int division)
- % (Remainder) <br><br>
NOTE: Python operations are done under the Operator precedence PEMDAS:
    1. P: Parentheses
    2. E: Exponents
    3. M, D: Multiplication/Division
    4. A, S: Addition/Subtraction

In [19]:
num1 = 40
num2 = 3
print(num1 + num2)
print(num1 - num2)
print(num1 * num2)
print(num1 / num2)
print(num1 ** num2)
print(num1 // num2)
print(num1 % num2)

43
37
120
13.333333333333334
64000
13
1

In [20]:
x = 12 + 5 / 2 ** 2
print(x)
y = 12 + (5 / 2) ** 2
print(y)

13.25
18.25

In [21]:
x = 2.9
print(round(x))
print(abs(x))

3
2.9

### Comparison Operators 
The following operations reutrn Booleans. <br>
You can compare objects with same data types with themselves, type int objects with type float objects. <br>
You can't compare str with float or int.
- i > j 
- i>= j
- i < j
- i<= j
- i <font color='red'>==</font> j  &emsp;&emsp;==> equality test, returns True if i is the same as j
- i != j  &emsp;&emsp;==> inequality test, retruns True if i is not the same as j

In [22]:
print(2<3)
print(47>100)
print('hello'=='Hello')

True
False
False

### logical operators on Booleans
<table><thead><tr><th>A</th><th>B</th><th>A and B</th><th>A or B</th></tr></thead><tbody><tr><td>True</td><td>True</td><td>True</td><td>True</td></tr><tr><td>True</td><td>False</td><td>False </td><td>True</td></tr><tr><td>False </td><td>True</td><td>False</td><td>True</td></tr><tr><td>Fasle</td><td>False</td><td>False</td><td>False</td></tr></tbody></table>

In [23]:
a = True
b = False
print(not a)
print(not b)
print(a and b)
print(a or b)

False
True
False
True

### Conditionals
Conditional Statement in Python perform different computations or actions depending on whether a specific Boolean constraint evaluates to true or false. Conditional statements are handled by IF statements in Python.<br>
indentations in python are important. Our program's flow is determined by the code blocks represented with the indentations.

In [24]:
x = float(input('Enter a number: x= '))
y = float(input('Enter another number: y= '))

if x == y:
    print('x and y are equal.')
    if y != 0:
        print('therfore, x/y is', x/y)
elif x < y:
    print('x is smaller than y.')
else:
    print('y is smaller.')

Enter a number: x= 15
Enter another number: y= 15
x and y are equal.
therfore, x/y is 1.0

In [25]:
is_raining = False 
is_snowing = True
temp = -10

if is_raining and is_snowing:
    print('Check the weather again! :/')
elif is_raining and not is_snowing:
    if temp > 8:
        print('Wear a light rain_coat :)')
    else:
        print('Wear rain coat and boots :)')
elif is_snowing and not is_raining:
    if temp > -6:
        print('Wear a jacket.')
    elif temp > -10:
        print('Wear jacket and scarf!')
    else:
        print('Wear jacket, scarf and gloves!!')
elif not is_raining and not is_snowing:
    print('The weather is nice!')

Wear jacket, scarf and gloves!!

### while and for loops
Python has two primitive loop commands:
- while loops
- for loops

With the while loop we can execute a set of statements as long as a condition is true. <br>
With the break statement we can stop the loop even if the while condition is true.

In [26]:
i = 0
while i<=5:
    print(i)
    i += 1

0
1
2
3
4
5

#### A guessing game:
Code to guess the right number between an upper bound and a lower bound using while loops.

In [3]:
upper_bound = 20
lower_bound = 1
adaptive_upper_bound = upper_bound
adaptive_lower_bound = lower_bound
to_be_guessed = 15
guess = 1
while guess != to_be_guessed:
    guess = int(input("New number: "))
    if guess == 0:   # giving up
        print("Game Over!")
        break   # break out of a loop, don't execute "else"
    if guess < lower_bound or guess > upper_bound:
        print("guess not within boundaries!")
        print(f"choose between {adaptive_lower_bound} and {adaptive_upper_bound}.")
    elif guess < adaptive_lower_bound or guess > adaptive_upper_bound:
        print("Your guess is contradictory to your previous guesses!")
        print(f"choose between {adaptive_lower_bound} and {adaptive_upper_bound}.")
    elif guess > to_be_guessed:
        adaptive_upper_bound = guess - 1
        print("Number too large")
        print(f"lower boundary is {adaptive_lower_bound}, upper boundary is {adaptive_upper_bound}.")
    elif guess < to_be_guessed:
        adaptive_lower_bound = guess + 1
        print("Number too small")
        print(f"lower boundary is {adaptive_lower_bound}, upper boundary is {adaptive_upper_bound}.")
    elif guess == to_be_guessed:
        print('Congrats!!!')

New number: 1
Number too small
lower boundary is 2, upper boundary is 20.
New number: 5
Number too small
lower boundary is 6, upper boundary is 20.
New number: 18
Number too large
lower boundary is 6, upper boundary is 17.
New number: 8
Number too small
lower boundary is 9, upper boundary is 17.
New number: 15
Congrats!!!

### for loops
A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, or a string).<br>
we can execute a set of statements, once for each item in a list, tuple, set etc.

#### range function
Creates a sequence of numbers from 0 to n, and print each item in the sequence:

In [28]:
for i in range(5,10,2):
    print(i)

5
7
9

In [29]:
string = 'hello'
for index in range(len(string)):
    if string[index] == 'i' or string[index]== 'o':
        print('there is an i or o')

there is an i or o

In [30]:
for char in string:
    if char == 'i' or char == 'o':
        print('there is an i or o')

there is an i or o

In [31]:
for char in string:
    print(char)

h
e
l
l
o

### Compound data types: 
Are made of one or more other datatypes
- list 
- tuples 
- dictionaries

#### tuple
A tuple is a collection which is ordered and immutable. In Python tuples are written with round brackets. <br>
Tuples are indexed like strings with brackets.

In [32]:
tup = (1, 'hello', 3)
print(tup[0])
print(tup[0]+1)
print(tup[0])
print(tup[1])

1
2
1
hello

#### Join Two or more Tuples

In [33]:
tup2 = tup + (6, 10, ('data', 'mining'))
print(tup2)

(1, 'hello', 3, 6, 10, ('data', 'mining'))

In [34]:
print(len(tup2))
print(tup2[1:5])

6
('hello', 3, 6, 10)

#### tuples are immutable

In [35]:
# tuples are immutable 
# tup2[6] = 12

### lists
A collection which is ordered and mutable. In Python lists are written with square brackets. <br>
mutable objects, very similar to tuples

In [36]:
L = [1, 'hello', 3]
L2 = [6, 10, ['data', 'mining']]

print(len(L))

3

You access the list items by referring to the index number.

In [37]:
print(L[0])
print(L[1])
print(L[0]+1)
print(L[0])
print(L2[2]) #returns a list
print(type(L2[2]))

1
hello
2
1
['data', 'mining']
<class 'list'>

#### lists are mutable

In [38]:
L[1] = 2

In [39]:
L

[1, 2, 3]

#### for loops over lists
You can loop through the list items by using a for loop.

In [40]:
for element in L2:
    print(element)

6
10
['data', 'mining']

In [41]:
#sum of elements in a list
total = 0
for i in L:
    total += i
print(total)

6

In [42]:
sum(L)

6

In [4]:
#nested loops 
lst = [[1,2,3], ['a', 'b', 'c', 'd'], [0.1, 0.01]]

for lst in lst:
    print(lst)
    for elmnt in lst:
        print(elmnt)

[1, 2, 3]
1
2
3
['a', 'b', 'c', 'd']
a
b
c
d
[0.1, 0.01]
0.1
0.01

### operations on lists

#### add an element to the end of a list, mutates the list

In [44]:
print(L)
L.append(4)
print(L)

[1, 2, 3]
[1, 2, 3, 4]

In [45]:
new_list = [5,6]

#### add items to the list

In [46]:
newer_list = L + new_list

In [47]:
print(L)
print(new_list)
print(newer_list)

[1, 2, 3, 4]
[5, 6]
[1, 2, 3, 4, 5, 6]

In [48]:
#mutates L directly
L.extend(new_list)

In [49]:
print(L)
print(new_list)

[1, 2, 3, 4, 5, 6]
[5, 6]

#### remove items from the list

In [50]:
L2 = [4, 3, 9, 5, 6, 4, 2, 2]

In [51]:
#Operations are done in order
L2.remove(3) #mutates the list
print(L2)

[4, 9, 5, 6, 4, 2, 2]

In [52]:
L2.remove(4)
print(L2)

[9, 5, 6, 4, 2, 2]

In [53]:
del(L2[2])
print(L2)

[9, 5, 4, 2, 2]

In [54]:
item_deleted = L2.pop(2) #mutates the list and returns the item at index
print(L2)
print(item_deleted)

[9, 5, 2, 2]
4

#### Converting strings to lists and back

In [55]:
s = 'python tutorial for data mining'
# list(s)
s2 = s.split()

In [56]:
' '.join(s2)

'python tutorial for data mining'

#### sort lists

In [57]:
print(L2)

[9, 5, 2, 2]

In [58]:
print(sorted(L2)) # DOES NOT mutate the list
print(L2)

[2, 2, 5, 9]
[9, 5, 2, 2]

In [59]:
L2.sort() #DOES mutate the list
print(L2)

[2, 2, 5, 9]

In [60]:
L2.reverse() #mutates the list
print(L2)

[9, 5, 2, 2]

#### Cloning 
As lists are mutable we have to make sure we are not making any unwanted changes to the original list when we want to modify a list. Or when we want to keep a copy of the original list.

In [61]:
L1 = [1,2,4,10,5]
L2 = [1,2,15,3,10]

In [62]:
for e in L1:
    if e in L2:
        L1.remove(e)

In [63]:
print(L1)

[2, 4, 5]

In [64]:
L1_clone = L1[:] #cloning the list
print(L1_clone)
for e in L1_clone:
    if e in L2:
        L1.remove(e)

[2, 4, 5]

In [65]:
print(L1)

[4, 5]

### Dictionaries

A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets. keys are unique identifier, value is the data we are after. <br>
keys can be any immutable data types, i.e. strings, int

In [66]:
student = {'name':'john', 'age':25, 'courses':['ML', 'Math']}

#### accessing the items of dictionaries
You can access the items of a dictionary by referring to its key name, inside square brackets or use the .get() method.

In [67]:
print(student['name'])
# print(student['ID'])

john

In [68]:
print(student.get('name', 'key was not found.'))

john

#### Adding an item to the dictionary or changing an existing one.

In [69]:
student['ID'] = '002515'
#if key already exists
student['name'] = 'Jane'

In [70]:
print(student)

{'name': 'Jane', 'age': 25, 'courses': ['ML', 'Math'], 'ID': '002515'}

In [71]:
# student['city'] = 'Tehran'
# student['country'] = 'Iran'
student.update({'city':'Tehran', 'country':'Iran'})

In [72]:
print(student)

{'name': 'Jane', 'age': 25, 'courses': ['ML', 'Math'], 'ID': '002515', 'city': 'Tehran', 'country': 'Iran'}

#### Removing Items from dictionaries

In [73]:
del student['country']

In [74]:
city = student.pop('city')

In [75]:
print(student)
print(city)

{'name': 'Jane', 'age': 25, 'courses': ['ML', 'Math'], 'ID': '002515'}
Tehran

#### Dict methods

In [76]:
print(student.keys())
print(student.values())
print(student.items())

dict_keys(['name', 'age', 'courses', 'ID'])
dict_values(['Jane', 25, ['ML', 'Math'], '002515'])
dict_items([('name', 'Jane'), ('age', 25), ('courses', ['ML', 'Math']), ('ID', '002515')])

#### for loops on dictionaries

In [77]:
for i in student:
    print(i)

name
age
courses
ID

In [78]:
for key, value in student.items():
    print(key, value)

name Jane
age 25
courses ['ML', 'Math']
ID 002515

### Functions
In programming it's better to divide your code into modules. <br>
modules help you to break up code into pieces, debug it once, and use it multiple times with different parameters without having to write the whole code again.

In [79]:
x = 10
def is_even(x):
    '''This is a function that returns True 
    if the input is an even numbe,
    ohtherwise returns False'''
    print('Is', x, 'even?')
    remainder = x % 2 
    return  remainder == 0

In [80]:
y = is_even(x)

Is 10 even?

#### Scope of a function
variables inside a function do not affect your code.

In [81]:
# remaider

In [82]:
print(y)
print(type(y))

True
<class 'bool'>

<b>NOTE</b>: If you don't include the return statement in your function, the None data type is going to be returned. <br>
Everything in python is an object ==> a function is an object itself

In [83]:
print(type(is_even))

<class 'function'>

In [84]:
def f(x):
    '''x is an integer'''
    return x**2
def g(x):
    return x**3

In [85]:
x = 3
print(f(x))
print(g(x))
print(f(g(x)))

9
27
729

### guessing game with different parameters.

### Classes
Classes provide a means of bundling data and functionality together.<br>
Creating a new class creates a new type of object, allowing new instances of that type to be made. <Br>
Each class instance can have attributes attached to it for maintaining its state. Class instances can also have methods which are functions that belong to the object.

In [88]:
class Vector:
    def __init__(self, x, y):
        self.x = x
        self.y = y
        
    def move(self, move_x, move_y):
        new_x = self.x + move_x
        new_y = self.y + move_y
        return Vector(new_x, new_y)
#         return self.x, self.y
        
    def distance(self, other):
        x_diff = (self.x - other.x)**2
        y_diff = (self.y - other.y)**2
        return (x_diff + y_diff)**0.5
    
    def __str__(self):
        return '('+str(self.x)+' '+str(self.y)+')'

In [89]:
v = Vector(3,4)
print(v)

(3 4)

In [90]:
v2 = v.move(2,5)

In [91]:
print(v)
print(v2)

(3 4)
(5 9)

In [92]:
v.distance(v2)

5.385164807134504

In [93]:
Vector.distance(v,v2)

5.385164807134504

In [94]:
class Dog:
    def __init__(self, name, age):
        self.name = name
        self.age = age
    
    def talk(self):
        print('Bark!')
    
    def get_name(self):
        return self.name
    
    def get_age(self):
        return self.age
    
    def change_age(self, new_age):
        self.age = new_age

In [95]:
d = Dog('dog1', 4)
print(type(d))

<class '__main__.Dog'>

In [96]:
d.talk()

Bark!

In [97]:
Dog.talk(d)

Bark!

In [98]:
d2 = Dog('dog2', 6)
print(type(d2))

<class '__main__.Dog'>

In [99]:
print(d.get_name())
print(d2.get_name())

dog1
dog2

In [100]:
class Animal:
    def __init__(self, name, age):
        self.name = name
        self.age = age
    
    def get_name(self):
        return self.name
    
    def get_age(self):
        return self.age
    
    def change_age(self, new_age):
        self.age = new_age
        
    def desc(self):
        print(f' Name: {self.name}, Age: {self.age}')

In [101]:
class Dog(Animal):
    def talk(self):
        print('Bark!')
        
class Lion(Animal):
    def talk(self):
        print('Roar!')

In [102]:
lion = Lion('lion', 14)
dog = Dog('dog', 5)

In [103]:
dog.desc()
lion.desc()

 Name: dog, Age: 5
 Name: lion, Age: 14

In [104]:
dog.talk()
lion.talk()

Bark!
Roar!

In [105]:
# class Dog(Animal):
#     def __init__(self, name, age, color):
#         super().__init__(name, age)
#         self.color = color 
        
#     def talk(self):
#         print('Bark!')
        
# class Lion(Animal):
#     def talk(self):
#         print('Roar!')

In [106]:
# d = Dog('dog', 5, 'brown')

In [107]:
# l = Lion('lion', 16)